<div class="lorem-ipsum-card"> 
    <h2>INTRO</h2>
    <div id="lorem-ipsum-content">
      <p>
        Agent: Hello and thank you for calling Nobel!, My name is Fender, and I'm here to assist you today. 
        May I have the pleasure of knowing whom I'm speaking with?
      </p>
      <p>
       Customer: Hi,I'm <b>[FirstName] [LastName]</b>, from <b>[Company]</b>
      </p>
      <p>
        Agent: Thank you <b>[FirstName]</b>! How can I assist you today? is there something specific you're looking for 
        or need help with?
       </p>
       <p>
        Customer: I have a question about ... 
       </p>
    </div>
    
</div>
